.header-container {
	padding: 0 25px;
}

.slick-next {
    right: -20px;
}

.slick-prev {
	left: -20px;
}

.regular {
	background: #0381b0;
	color: white;
}

.slick-element {
	min-width: 255px;
	padding: 5px;
	border: 1px solid;
	height: 60px;
	background-image: linear-gradient(to top, #4fccec 0%, #0180a9 80%);
}
